[Desktop Entry]
Version=1.0
Type=Application
Name=DCS Install
Comment=
Exec=/home/dcsuser/dcs-run.sh
Icon=
Path=/home/dcsuser
Terminal=true
StartupNotify=false